<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рекомендательная система</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<body>
<nav class="navbar navbar-default" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                {% if current_user.is_authenticated %}
                    <a class="page-scroll" href="{{ url_for('user.profile') }}">Профиль</a>
                {% else %}
                    <a class="page-scroll" href="{{ url_for('user.login', next='/user/profile') }}">Войти</a>
                {% endif %}
            </li>
            {% if current_user.is_authenticated %}
                <li>
                    <a class="page-scroll" href="/admin">Администрирование</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>
<div class="containter">
    <div class="row">
        <div class="center-block col-lg-12 ">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="{{ url_for('static',filename='jquery-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>